/WebExample/WebExample/.vs
/WebExample/WebExample/packages
/WebExample/WebExample/WebExample/App_Data
/WebExample/WebExample/WebExample/bin
/WebExample/WebExample/WebExample/logs
/WebExample/WebExample/WebExample/obj
/WebExample/WebExample/WebExample/WebExample.csproj.user
